@media screen and (min-width: 500px) {
  main {
    width: 35rem;
    height: 37.4rem;
  }

  .profile-img {
    top: 15rem;
  }

  #circle-top {
    position: fixed;
    top: -40rem;
    left: -2rem;
    z-index: -1;
  }

  #circle-bottom {
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: -1;
  }
}
